<h3>Edit Customer</h3>
<p>
  <a>
    Come back
  </a>
</p>
<div id="form">
  <form action="@{/customer/save}" method="post">
    <input type="hidden">
    <table class="table table-sm">
      <tr>
        <td><span>name</span></td>
        <td><input type="text" value="Huy NV"></td>
      </tr>
      <tr>
        <td><span>Date Of Birth</span></td>
        <td><input type="text" value="12-2003"></td>
      </tr>
      <tr>
        <td><span>Gender</span></td>
        <td>
          <select>
            <option value="">nam</option>
            <option value="">nữ</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>Id Card</span></td>
        <td><input type="text" value="123456"></td>
      </tr>
      <tr>
        <td><span>Phone Number</span></td>
        <td><input type="text" value="0909789789"></td>
      </tr>
      <tr>
        <td><span>Email</span></td>
        <td><input type="text" value="huynv@gmail.com"></td>
      </tr>
      <tr>
        <td><span>Address</span></td>
        <td><input type="text" value="da nang"></td>
      </tr>
      <tr>
        <td><span>Customer Type</span></td>
        <td>
          <select>
            <option>Diamond</option>
            <option>Silver</option>
            <option>Gold</option>
          </select>
        </td>
      </tr>

    </table>
    <input type="submit" value="Save"/>
  </form>
</div>
