<div style="min-height: 60vh">
  <a>
    Thêm mới
  </a>
  <div>
    <form action="/customer">
      <input style="width: 20%" type="text" name="name" placeholder="Name">
      <input style="width: 20%" type="text" name="email" placeholder="Email">

      <select style="width: 20%">
        <option value="" selected>Choose Something</option>
        <option>Diamond</option>
        <option>Silver</option>
        <option>Gold</option>
      </select>
      <input type="submit" value="Search" style="width: 10%">
    </form>
  </div>
  <table id="blog" class="table table-sm , bg-body">
    <thead>
    <tr class="bg-warning">
      <th>STT</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Id card</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Address</th>
      <th>CustomerType</th>
      <th>Edit</th>
      <th>View</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Huy NV</td>
      <td>2002</td>
      <td>Nữ</td>
      <td>123456</td>
      <td>0909789789</td>
      <td>huynv@gmail.com</td>
      <td>da nang</td>
      <td>Diamond</td>
      <td>Edit</td>
      <td>View</td>
      <td>Delete</td>
    </tr>
    </tbody>
  </table>
</div>

