<html lang="en" xmlns:th="http://www.thymeleaf.org">

<h1>Color Picker</h1>
<div>
  <pre>Red:{{red}}</pre>
  <input type="range" min="0" max="255" [(ngModel)]="red" (change)="setColor()">
</div>
<div>
  <pre>Green:{{green}}</pre>
  <input type="range" min="0" max="255" [(ngModel)]="green" (change)="setColor()">
</div>
<div>
  <pre>Blue:{{blue}}</pre>
  <input type="range" min="0" max="255" [(ngModel)]="blue" (change)="setColor()">
</div>

<div>
  {{backGroundColor}}
</div>
<div class="result" [style.background-color]="backGroundColor"></div>
<!--Thực hành!-->
<pre>Change font size</pre>
<input type="range" min="9" max="100" [(ngModel)]="fontSize">
<!--<div [style.fontSize.px]="fontSize">-->
<!--  Cho Em To Lên Đi anh !-->
<!--</div>-->

<div *ngIf="fontSize<60" [style.fontSize.px]="fontSize" >
  Cho Em <span>To</span> Lên Đi anh !
</div>
<div *ngIf="fontSize>60" [style.fontSize.px]="fontSize" >
  Cho Em <span>Nhỏ</span> lại Đi anh !
</div>

