<div style="background-image: linear-gradient(0,aliceblue,#86b7fe); height: 65vh">
<h3>Add house</h3>
<p>
  <a class="btn btn-warning">
    Come back
  </a>
</p>
<div id="form">
  <form action="@{/facility/save}" method="post">
    <input type="hidden">
    <table class="table table-sm">
      <tr>
        <td><span>Facility type</span></td>
        <td><select>
          <option value="1">House</option>
          <option value="2">room</option>
          <option value="3">villa</option>
        </select></td>
      </tr>
      <tr>
        <td><span>Name</span></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><span>Area</span></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><span>Cost</span></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><span>Max people</span></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><span>Rent type</span></td>
        <td><select>
          <option>ngày</option>
          <option>tháng</option>
          <option>năm</option>
        </select></td>
      </tr>
      <tr>
        <td><span>Standard room</span></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><span>Description other convenience</span></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><span>	Number of floors</span></td>
        <td><input type="text"></td>
      </tr>
    </table>
    <input type="submit" value="Save"/>
  </form>
</div>
</div>
