<app-header></app-header>
<!--<app-ss3-calculator></app-ss3-calculator>-->
<!--<app-ss3-color-picker></app-ss3-color-picker>-->
<!--<app-home></app-home>-->
<!--<app-facility></app-facility>-->
<!--<app-create-house></app-create-house>-->
<!--<app-customer-list></app-customer-list>-->
<!--<app-home></app-home>-->
<!--<app-create></app-create>-->
<!--<app-edit-house></app-edit-house>-->
<!--<app-edit-room></app-edit-room>-->
<!--<app-edit-villa></app-edit-villa>-->
<!--<app-edit-customer></app-edit-customer>-->
<app-footer></app-footer>

