<div id="header" class="row" style="background: #86b7fe ">
  <div class="col-3 header">
        <span>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/home/anhgocnho.jpg" alt="thay thế cho hình ảnh nếu hình ảnh k hiển thị"
                     width="100" height="100">
            </a>
        </span>
  </div>
  <div class="col-5 header"></div>
  <div class="col-4 header position-relative">
    <span class="position-absolute top-50 start-50 translate-middle" style="color: #b02a37">Đỗ ĐỨc Uy</span>
  </div>
</div>
<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarEmployee" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Oder
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/oder/list">Display Oder List</a></li>
              <li><a class="dropdown-item" href="/oder/list">Add New Oder(Modal)</a></li>
              <li><a class="dropdown-item" href="/oder/list">Edit Oder(Modal)</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarCustomer" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Customer
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/customer/list">Display Customer</a></li>
              <li><a class="dropdown-item" href="/customer/list">Add New Customer</a></li>
              <li><a class="dropdown-item" href="/customer/list">Edit Customer</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarService" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Facility
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/facility/list">Display Service List</a></li>
              <li><a class="dropdown-item" href="#">Add New Service</a></li>
              <li><a class="dropdown-item" href="#">Edit Service</a></li>
              <li><a class="dropdown-item" href="#">Delete(modal)</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarContract" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Contract
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/contract/list">Display Contract List</a></li>
              <li><a class="dropdown-item" href="/contract/create">Add New Contract</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
