<div id="header" class="row" style="background: #86b7fe ">
  <div class="col-3 header">
        <span>
            <a class="navbar-brand" href="#">
                <img src="../../../assets/img/home/anhgocnho.jpg" alt="thay thế cho hình ảnh nếu hình ảnh k hiển thị"
                     width="100" height="100">
            </a>
        </span>
  </div>
  <div class="col-5 header"></div>
  <div class="col-4 header position-relative">
    <span class="position-absolute top-50 start-50 translate-middle" style="color: #b02a37">Đỗ ĐỨc Uy</span>
  </div>
</div>
